body{
    font-family: 'BioRhyme', serif;
    background-color: #ffaec950;
}

#title{
    font-size: 123px;
    position: absolute;
}

#game-board{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}