body {
    font-family: 'BioRhyme', serif;
    background-color: rgba(255, 174, 201, 0.314);


}


a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

#title {
    font-size: 50px;
    /* position: absolute; */
    z-index: -1;
    color: #42465d;
    text-align: center;
}




#container {
    width: 100%;
    height: 100%;
    padding: 0 10% 10% 10%;
}

#game-board {
    position: relative;
    display: flex;
    /* height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* color: #4481fcaf; */

}


.modalArea {
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    transition: .4s;
}

.showModal {
    visibility: visible;
    opacity: 1;
}

.modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.481);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
}

.modalWrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
    background-color: #eeeeee;
    border: 0.61px solid #454545;
}




.modal {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    padding: 0;
    margin: 15px;
}


.modal_title {
    border-bottom: 0.5px solid #000000;
}

.modal_main-title {
    font-family: 'BioRhyme', serif;
    font-size: 50px;
}


/* .modal_sub-title {} */

.modal_gameStart {
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: space-around;
    /* border: 1px dashed; */
    /* text-align: ; */
}

.modal_gameStart-button {
    width: 6rem;
    height: 3rem;
    /* padding:; */
    line-height: 3rem;
    border: dashed 0.5px #000000;
    margin: 15px 15px 0 15px;
    cursor: pointer;
}

.modal_how-to-play {
    margin: 10px;
    /* border: dashed 0.5px #000000; */
}

.modal_how-to-play-button {
    margin: 15px;
    border: dashed 0.5px #000000;
}

.modal_share {
    font-size: 12px;
}

/* .model_share-title {} */

.modal_share-button-container {
    width :80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.modal_share-button {
    width: 7em;
    border: dashed 0.5px #000000;
}

.modal_share-button a{
    display: block;
    width: 100%;
    height: 100%;
}

.modal_github-url{
    font-size: 9px;
}


/*------------------------------------------------------*/







.winnerWindow {
    /* visibility: visible; */
    visibility: hidden;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 200;
    padding: 15px;
    font-size: 40px;

}

.restartButton {
    font-size: 20px;
    padding: 5px 4px;
    border: solid 0.5px #444444;
    border-bottom: solid 2px #444444;
    margin: 7px 7px;
    cursor: pointer;

}

.restartButton:hover {
    background-color: #454545;
    color: #fff;
    transition: 0.4s;
}

.red {
    visibility: visible;
    background-color: #c71671;
}

.blue {
    visibility: visible;
    background-color: #1663c7;
}

/* #winner { */
/* background-color: rgb(255, 0, 0); */
/* } */

@media screen and (min-width:675px) {
    /* #title {
        font-size: 90px;
    } */

    /* .modalWrapper {
        width: 40%;
    } */

    .buttonContainer {
        margin: 0 10px 10px 10px;
    }

    /* .buttonName {
        margin: auto 5px;
    } */

}